ninja
numpy
opencv-python
lmdb
pyyaml
gdown
scipy
tb-nightly
addict
einops
future
numba
lpips
scikit-image
yapf
requests
matplotlib
tqdm
yacs
joblib
scikit-learn
natsort
h5py
tensorboard
mamba-ssm
causal-conv1d>=1.2.0
timm
